@model List<SurfStoreApp.Models.ProductModel>

@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="span9">
    <div class="row-fluid">
        @foreach (var product in Model)
        {
            <div class="span4"><h2>@product.ImageDescription</h2><img src="@Url.Content(product.ImageUrl)"></div>
        }
    </div>
</div>
<!--/span-->

