@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="span9">
        <h2>About the Store
        </h2>
        <p>
        This store serves an example store for the book Fast ASP.NET Websites. You will
        find that the sample code is very simple and that during the early chapters there
        is no database attached. All of the resources are based heavily
        in the front end and this is so that we can cover the <strong>"Performance Golden Rule"</strong>
            that is discussed in the book.
        </p>
        <p>
            The sample surf application serves as a playground and an experimental area that
        will allow us to take the application from a slow, poor performing website to a
        fast, high grade site.
        </p>
    </div>

